<footer class="container">
	<div class="row hero-unit" id="gray">

    <div class="span5">
     
     			 <dl>
					<h3>友情链接：</h3>
					<dd class="footer-phone">拉勾网  <a href="http://www.lagou.com" target="_blank">www.lagou.com</a></dd>
					<dd class="footer-qq">极客学院  <a href="http://www.jikexueyuan.com" target="_blank">www.jikexueyuan.com</a></dd>
					<dd class="footer-email">萌码  <a href="http://www.mengma.com" target="_blank">www.mengma.com</a></dd>
				</dl>

    </div>
     <div class="span5">
     
     			 <dl>
					<h3>联系方式：</h3>
					<dd class="footer-phone">TEL:18645007088</dd>
					<dd class="footer-qq">QQ:97207257</dd>
					<dd class="footer-email">邮箱: 97207257@qq.com</dd>
				</dl>
				
    </div>
  
    </div>
		




    <div class="">
		<div id="">
			<div class="footer-2">
				<a href="http://www.miibeian.gov.cn/" target="_blank">黑ICP备14004290号</a>
			</div>
		</div>

	</div>
</footer>
</body>
<script src="/javascripts/jquery-1.10.2.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>